@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #cde0fcd7;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
}
  

.btn{
    @apply px-5 py-3 text-sm text-white rounded-l-full rounded-r-full bg-primary-100 font-body1
}

.heroPtag{
    @apply text-black-100 w-[82%] leading-7
}

.smallHeroImg{
    @apply object-cover w-full h-full rounded-full
}

.heroImgContainer{
    @apply aspect-square rounded-full border-primary-200 border-2
}

.inputFields{
    @apply h-[60px] placeholder-primary-600 rounded-r-full rounded-l-full px-4 outline-none cursor-pointer
}

.whyUcSections{
    @apply grid items-center grid-cols-2 mt-16 font-body2 tab:hidden
}

.evft{
    color: rgba(205, 224, 252, 0.858);
}

.submitBtn{
    @apply px-5 py-4 text-sm text-white rounded-l-full rounded-r-full bg-primary-100 font-body1
}
.card{
    @apply bg-secondary-cardBg px-5 py-10 rounded-[60px] mb-14 flex-col items-center justify-center hidden gap-8 tab:flex
}

.cardHeader{
    @apply text-3xl font-bold text-center font-body1 text-black-100 w-[60%] mobile:w-[80%] mobile:text-2xl smobile:w-[100%]
}

.cardImageContainer{
    @apply w-[80%] mx-auto  mobile:w-[100%] 
}

.cardImage{
    @apply w-full rounded-full aspect-square object-cover
}

.cardContentContainer{
    @apply flex justify-center items-center flex-col gap-2
}

.cardContent1{
    @apply text-center text-black-100 leading-[1.5em] text-base tab:w-[70%] font-normal mobile:text-lg mobile:w-[100%] object-cover
}

.cardContent2{
    @apply text-center text-black-100 leading-[1.5em] text-base tab:w-[80%] font-normal mobile:text-lg mobile:w-[100%] object-cover
}

.cardSp{
    @apply bg-secondary-400 px-10 py-12 mb-14 flex-col items-center justify-center hidden gap-8 tab:flex
}

.cardHeader{
    @apply text-3xl font-bold text-center font-body1 w-[40%] mobile:w-[80%] mobile:text-2xl smobile:w-[100%]
}

.cardContentSp{
    @apply text-center text-tertiary-300 leading-[1.5em] text-base tab:w-[70%] font-normal mobile:text-lg mobile:w-[100%] object-cover
}

.getHelpSection{
    @apply flex items-center gap-6
}

.getHelpSectionChild1{
    @apply flex items-center justify-center w-10 h-10 bg-white rounded-full 
}

.getHelpSectionSpan{
    @apply w-6 h-4 mb-1 -rotate-45 border-b-4 border-l-4 border-l-primary-300 border-b-primary-300 rounded-bl-md
}

.getHelpSectionHeader{
    @apply text-lg font-semibold text-white font-body1 text-left
}
