@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #cde0fcd7;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
}
  

.btn{
    @apply px-5 py-3 text-sm text-white rounded-l-full rounded-r-full bg-primary-100 font-body1
}

.heroPtag{
    @apply text-black-100 w-[82%] leading-7
}

.smallHeroImg{
    @apply object-cover w-full h-full rounded-full
}

.heroImgContainer{
    @apply aspect-square rounded-full border-primary-200 border-2
}

.inputFields{
    @apply h-[60px] placeholder-primary-600 rounded-r-full rounded-l-full px-4 outline-none cursor-pointer
}

.evft{
    color: rgba(205, 224, 252, 0.858);
}